<nav class="navigationbar navbar navbar-expand-lg ">
    <div class="container-fluid">
        <a href="/" class="d-flex align-items-center pt-3 pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
            style="margin-left: 30px;">
            <img src="assets\img\banner-ico.png" width="45px" alt="">
            <span class="title ms-2 d-none d-sm-inline">Spotify</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav ">
                <li class="nav-item" routerLinkActive="active">
                    <a href="#" class="nav-link align-middle px-0" routerLink="home">
                        <i class="bi bi-house-door me-1" style="color: #fff;" ></i> <span class="ms-1 d-none d-sm-inline">Menu</span>
                    </a>
                </li>
                <li class="nav-item" routerLinkActive="">
                    <a href="#" class="nav-link align-middle px-0" routerLink="search">
                        <i class="bi bi-search me-1" style="color: #fff;" ></i> <span class="ms-1 d-none d-sm-inline">Search</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- <nav class="navbar">
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="sidebar col-auto col-md-3 col-xl-2 px-sm-2 px-0 ">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/"
                        class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
                        style="margin-top: 30px;">
                        <img src="assets\img\banner-ico.png" width="45px" alt="">
                        <span class="title ms-2 d-none d-sm-inline">Spotify</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
                        id="menu">
                        <li class="nav-item" routerLinkActive="active">
                            <a href="#" class="nav-link align-middle px-0" routerLink="home">
                                <i class="bi bi-house-door"></i> <span class="ms-1 d-none d-sm-inline">Menu</span>
                            </a>
                        </li>
                        <li class="nav-item" routerLinkActive="active">
                            <a href="#" class="nav-link align-middle px-0" routerLink="search">
                                <i class="bi bi-search"></i> <span class="ms-1 d-none d-sm-inline">Search</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav> -->